body {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.columnone {
  width: 25%;
}

.columntwo {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
